# Задание 1

Набор данных [отсюда](https://www.kaggle.com/datasets/uciml/glass)

In [4]:
# Id number: 1 to 214 (removed from CSV file)
# RI: refractive index
# Na: Sodium (unit measurement: weight percent in corresponding oxide, as are attributes 4-10)
# Mg: Magnesium
# Al: Aluminum
# Si: Silicon
# K: Potassium
# Ca: Calcium
# Ba: Barium
# Fe: Iron
# Type of glass: (class attribute)
# -- 1 building_windows_float_processed
# -- 2 building_windows_non_float_processed
# -- 3 vehicle_windows_float_processed
# -- 4 vehicle_windows_non_float_processed (none in this database)
# -- 5 containers
# -- 6 tableware
# -- 7 headlamps

### Логистическая регрессия

In [90]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.model_selection import train_test_split, cross_validate, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, roc_curve, auc
from sklearn.neighbors import KNeighborsClassifier

from sklearn import tree


df = pd.read_csv('https://raw.githubusercontent.com/AnnSenina/Other/main/glass.csv')
df.head(10)

        RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00     1
5  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26     1
6  1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00     1
7  1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00     1
8  1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00     1
9  1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11     1

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [91]:
x = df[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]
y = df['Type']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

In [67]:
log_regr = LogisticRegression(solver='lbfgs', max_iter=3000)
log_regr.fit(x_train,y_train)
y_pred = log_regr.predict(x_test)
# тут была ошибка:

# /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
# STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

# Increase the number of iterations (max_iter) or scale the data as shown in:
#     https://scikit-learn.org/stable/modules/preprocessing.html
# Please also refer to the documentation for alternative solver options:
#     https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
#   n_iter_i = _check_optimize_result(
    
# Удалось исправить увеличив итерации

In [68]:
df_logreg = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_logreg

     Actual  Predicted
197       7          7
37        1          1
89        2          2
176       6          2
170       5          2
..      ...        ...
157       3          1
8         1          2
40        1          1
129       2          2
13        1          1

[65 rows x 2 columns]

In [69]:
confusion_matrix(y_pred, y_test)

array([[13,  9,  4,  0,  0,  0],
       [ 8, 15,  3,  1,  1,  0],
       [ 0,  0,  0,  0,  0,  0],
       [ 0,  1,  0,  1,  0,  0],
       [ 0,  1,  0,  0,  0,  0],
       [ 0,  0,  0,  0,  1,  7]])

In [70]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.50      0.62      0.55        21
           2       0.54      0.58      0.56        26
           3       0.00      0.00      0.00         7
           5       0.50      0.50      0.50         2
           6       0.00      0.00      0.00         2
           7       0.88      1.00      0.93         7

    accuracy                           0.55        65
   macro avg       0.40      0.45      0.42        65
weighted avg       0.49      0.55      0.52        65

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/sklearn/metrics/_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

55% точность модели 
Результат, конечно не совсем понятный и не удовлетворительный

In [86]:
log_regr = LogisticRegression(class_weight="balanced", solver='lbfgs', max_iter=3000)
log_regr.fit(x_train, y_train)
y_pred = log_regr.predict(x_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.48      0.48      0.48        21
           2       0.50      0.31      0.38        26
           3       0.15      0.29      0.20         7
           5       0.50      1.00      0.67         2
           6       0.50      1.00      0.67         2
           7       1.00      1.00      1.00         7

    accuracy                           0.48        65
   macro avg       0.52      0.68      0.57        65
weighted avg       0.51      0.48      0.48        65

еще хуже...

Кросс валидация на таких данных, не дает эффективности

### Случайный лес

In [92]:
x = df[['RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe']]
y = df['Type']
clf = tree.DecisionTreeClassifier(
                               # максимальная глубина дерева
                               max_depth=5,
                               # минимальное число элементов в узле для разбиения (может быть долей)
                               min_samples_split=5,
                               # минимальное число элементов в листе (может быть долей)
                               min_samples_leaf=5)
                               # минимальное значение дельты impurity (примеси)
                               # min_impurity_decrease=0
clf = clf.fit(x, y)

In [93]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, stratify=y)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [94]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.45      0.67      0.54        21
           2       0.56      0.43      0.49        23
           3       0.00      0.00      0.00         5
           5       1.00      0.50      0.67         4
           6       0.33      0.33      0.33         3
           7       0.89      0.89      0.89         9

    accuracy                           0.54        65
   macro avg       0.54      0.47      0.49        65
weighted avg       0.54      0.54      0.53        65

In [95]:
#Кросс-валидация
scores = cross_validate(clf,
                        x_train,
                        y_train,
                        scoring='accuracy',
                        cv=5,
                        return_estimator=True,
                        return_train_score=True)

scores

{'fit_time': array([0.00283289, 0.00144291, 0.00134706, 0.00112414, 0.00115585]),
 'score_time': array([0.00129008, 0.00083399, 0.00077605, 0.00067186, 0.00066209]),
 'estimator': [DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5)],
 'test_score': array([0.7       , 0.66666667, 0.76666667, 0.73333333, 0.72413793]),
 'train_score': array([0.81512605, 0.79831933, 0.80672269, 0.79831933, 0.76666667])}

In [96]:
scores_df = pd.DataFrame.from_dict(scores)
scores_df

,fit_time,score_time,estimator,test_score,train_score
0,0.002833,0.001290,"DecisionTreeClassifier(max_depth=5, min_sample...",0.700000,0.815126
1,0.001443,0.000834,"DecisionTreeClassifier(max_depth=5, min_sample...",0.666667,0.798319
2,0.001347,0.000776,"DecisionTreeClassifier(max_depth=5, min_sample...",0.766667,0.806723
3,0.001124,0.000672,"DecisionTreeClassifier(max_depth=5, min_sample...",0.733333,0.798319
4,0.001156,0.000662,"DecisionTreeClassifier(max_depth=5, min_sample...",0.724138,0.766667

# Задание 2

Набор данных [отсюда](https://www.kaggle.com/datasets/anyasorc/valentine-dataset/code)

In [97]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/AnnSenina/Other/main/valentine_dataset.csv')
df.head()

,Name,Age,Gender,Income,Appearance_Score,Interests_Score,Confidence_Score,Educational_Status,Job_Type,Valentine_Date
0,Leon Cruz,26,Male,77648,63.94,88.18,30.09,Bsc,Employed,1
1,Samuel Brown,23,Male,71617,2.50,49.98,76.45,Bsc,Employed,1
2,Lori Baker,34,Male,38616,27.50,33.90,33.76,PhD,Employed,1
3,Tina Fitzgerald,37,Male,79473,22.32,25.47,43.32,Master,Self Employed,1
4,Jason Simmons,38,Male,43510,73.65,43.63,32.44,Bsc,Employed,0

Я думаю здесь хорошо подойдет Логистическая регрессия для предсказывания "Valentine_Date", т.к. данный параметр бинарный

Я предлагаю закодировать столбец "Educational_Status" и 'gender'. Думаю что превратив категориальную переменную в числовую мы достигнем лучий результат

In [99]:
df['Educational_Status'].unique()

array(['Bsc', 'PhD', 'Master', 'High School'], dtype=object)

In [101]:
def incode(a):
    if a == 'Bsc':
        a = 1
    if a == 'High School':
        a = 2
    if a == 'PhD':
        a = 3
    if a == 'Master':
        a = 4
        
    return a      

df['Educational_Status'] = df['Educational_Status'].map(incode)
df

,Name,Age,Gender,Income,Appearance_Score,Interests_Score,Confidence_Score,Educational_Status,Job_Type,Valentine_Date
0,Leon Cruz,26,Male,77648,63.94,88.18,30.09,1,Employed,1
1,Samuel Brown,23,Male,71617,2.50,49.98,76.45,1,Employed,1
2,Lori Baker,34,Male,38616,27.50,33.90,33.76,3,Employed,1
3,Tina Fitzgerald,37,Male,79473,22.32,25.47,43.32,4,Self Employed,1
4,Jason Simmons,38,Male,43510,73.65,43.63,32.44,1,Employed,0
...,...,...,...,...,...,...,...,...,...,...
19995,Michael Vega,26,Female,36355,65.62,45.80,87.23,2,Employed,0
19996,Debra Horn,21,Female,55355,32.17,19.26,7.88,2,Employed,1
19997,Aaron Burgess,31,Male,31910,45.02,13.93,39.64,3,Self Employed,1
19998,Rebecca Morton,33,Female,22483,73.67,64.29,29.53,4,Self Employed,1
19999,Erik Curry,21,Male,51812,50.02,47.97,45.85,4,Self Employed,0

In [112]:
def gender(x):
    if x == 'Male':
        x = 1
    if x == 'Female':
        x =0
    return x
df['Gender'] = df['Gender'].map(gender)

In [114]:
x = df[['Age', 'Gender', 'Income', 'Appearance_Score', 'Interests_Score', 'Confidence_Score', 'Educational_Status']]
y = df['Valentine_Date']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 50)

In [115]:
log_reg = LogisticRegression(max_iter=3000)
log_reg.fit(x_train,y_train)
y_pred = log_reg.predict(x_test)

In [116]:
df_logreg = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_logreg.head(20)

       Actual  Predicted
7808        0          0
4702        1          0
8693        0          0
9085        0          1
16689       1          0
14093       0          0
12799       0          0
9439        1          0
17783       0          0
10933       1          1
12733       1          0
4172        0          1
17425       0          1
12268       0          0
17431       0          0
6981        0          1
19632       1          1
17731       1          0
13182       1          0
17503       0          0

In [117]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.51      0.80      0.62      3023
           1       0.51      0.22      0.30      2977

    accuracy                           0.51      6000
   macro avg       0.51      0.51      0.46      6000
weighted avg       0.51      0.51      0.46      6000

Ожидания не оправдались...

In [123]:
#Кросс-валидация
scores = cross_validate(clf,
                        x_train,
                        y_train,
                        scoring='accuracy',
                        cv=5,
                        return_estimator=True,
                        return_train_score=True)

scores

{'fit_time': array([0.03144026, 0.02353811, 0.02081203, 0.02093387, 0.02024698]),
 'score_time': array([0.0023067 , 0.00093102, 0.00060296, 0.00070405, 0.000736  ]),
 'estimator': [DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5),
  DecisionTreeClassifier(max_depth=5, min_samples_leaf=5, min_samples_split=5)],
 'test_score': array([0.50571429, 0.48428571, 0.5175    , 0.50464286, 0.52142857]),
 'train_score': array([0.528125  , 0.53276786, 0.51419643, 0.53035714, 0.53642857])}

In [124]:
scores_df = pd.DataFrame.from_dict(scores)
scores_df

,fit_time,score_time,estimator,test_score,train_score
0,0.031440,0.002307,"DecisionTreeClassifier(max_depth=5, min_sample...",0.505714,0.528125
1,0.023538,0.000931,"DecisionTreeClassifier(max_depth=5, min_sample...",0.484286,0.532768
2,0.020812,0.000603,"DecisionTreeClassifier(max_depth=5, min_sample...",0.517500,0.514196
3,0.020934,0.000704,"DecisionTreeClassifier(max_depth=5, min_sample...",0.504643,0.530357
4,0.020247,0.000736,"DecisionTreeClassifier(max_depth=5, min_sample...",0.521429,0.536429

Нужна другая модель

### KNN

In [137]:
x = df[['Age', 'Gender', 'Income', 'Appearance_Score', 'Interests_Score', 'Confidence_Score', 'Educational_Status']]
y = df['Valentine_Date']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 50)

In [138]:
knn = KNeighborsClassifier(n_neighbors=3) # пока оставляем параметры, скопированные из интернетика

knn.fit(x_train, y_train)

y_pred = knn.predict(x_test)
y_pred

array([1, 1, 1, ..., 0, 1, 0])

In [139]:
accuracy_score(y_test, y_pred)

0.5065

In [140]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.51      0.53      0.52      3023
           1       0.50      0.49      0.49      2977

    accuracy                           0.51      6000
   macro avg       0.51      0.51      0.51      6000
weighted avg       0.51      0.51      0.51      6000

In [141]:
# подберем гиперпараметры
parameters = {'n_neighbors':range(2,20), 'weights' : ['uniform', 'distance']}
grid = GridSearchCV(KNeighborsClassifier(), parameters)
grid.fit(x, y)
tree_model = grid.best_estimator_
print(grid.best_score_, grid.best_params_)

0.5035000000000001 {'n_neighbors': 16, 'weights': 'uniform'}

Я попробовал убрать некторые признаки, но без них модель работает еще хуже(